# Section 1 : List Basics

In [3]:
# Input several numbers from the user using the input function in one go (each number separated by a space)
string = input("Enter elements (Space-Separated): ")
list_of_inputs = string.split()

print(type(list_of_inputs))

print(list_of_inputs)

<class 'list'>
[]

In [4]:
# Make a list of marks that you got in Physics, Chemistry and Maths in your +2 board exam
# Write the marks manually without using the input function
P=90
C=88
M=92
list12=[P,C,M]
print(list12)

[90, 88, 92]

In [5]:
# Print the list

print(list12)

[90, 88, 92]

In [6]:
# Find the length of the list
len(list12)

3

In [7]:
# Print the first element of the list

list12[0]

90

In [8]:
# Print the last element of the list
print(list12[2])
print(list12[len(list12)-1])
list12[-1]

92
92

92

In [9]:
#  Print the second element of the list

print(list12[1])
print(list12[-2])

88
88

In [10]:
# Change your marks for Chemistry and Maths in this list

list12[1]=96
list12[2]=100
print(list12)

[90, 96, 100]

# Section 2 : Simple List functions

In [11]:
# Append your marks for Hindi or English to this list
list12.append(99)
print(list12)

[90, 96, 100, 99]

In [12]:
# Create a blank list and append your marks for P, C, M and Language in +2 one by one to this list using the append function
# Once done, find the length of the list
mark12=[]
P=91
C=97
M=98
E=99
mark12.append(P)
mark12.append(C)
mark12.append(M)
mark12.append(E)
print(mark12)
print(len(mark12))

[91, 97, 98, 99]
4

In [13]:
# Create a new blank list and append your marks for Science, Math and Language in 10th class one by one to this list using the append function
# Once done, find the length of the list

mark10=[]
S=98
M=90
E=94
mark10.append(S)
mark10.append(M)
mark10.append(E)
print(mark10)
print(len(mark10))

[98, 90, 94]
3

In [15]:
# Create a new blank list and add to it the marks for +2 and 10th class from the above lists using the extend function
marz=[]
marz.extend(mark10)
print(marz)
marz.extend(mark12)
print(mark10)
print(mark12)
print(marz)

[98, 90, 94]
[98, 90, 94]
[91, 97, 98, 99]
[98, 90, 94, 91, 97, 98, 99]

In [26]:
# Reverse the above list using the list_name.reverse() function

a=marz.reverse()
print(a)
marz.reverse()
print(marz)

None
[99, 98, 97, 91, 94, 90, 98]

In [28]:
# Reverse the above (reversed) list using list(reversed(list_name)) function. So you should get back the original list
a=list(reversed(marz))
print(a)
list(reversed(marz))

[98, 90, 94, 91, 97, 98, 99]

[98, 90, 94, 91, 97, 98, 99]

In [13]:
# Remove the Maths marks from all the three lists using list_name.remove(element) function

mark10.remove(94)            #list.remove() takes exactly one argument 
mark12.remove(98)
marz.remove(94)
print(mark10)
print(mark12)
print(marz)

[98, 90]
[91, 97, 99]
[99, 98, 97, 91, 90, 98]

In [29]:
m=[23,24,1,2,3,4,5,6,7]
a=m.remove(23)
print(a)

None

In [30]:
m=[23,24,1,2,3,4,5,6,7]
o=90
i=80
m.append(o)
print(m)
m.append(i)
print(m)
m.remove(o)
print(m)
m.remove(i)
print(m)

[23, 24, 1, 2, 3, 4, 5, 6, 7, 90]
[23, 24, 1, 2, 3, 4, 5, 6, 7, 90, 80]
[23, 24, 1, 2, 3, 4, 5, 6, 7, 80]
[23, 24, 1, 2, 3, 4, 5, 6, 7]

In [14]:
# Before trying to remove an element, better to check if its even there in the list or not

if 90 in marz:
    marz.remove(90)
    print("Number is removed successfully")
    print("Now my list is:",marz)
else:
    print("Number is not found")
    print("My list is:",marz)

Number is removed successfully
Now my list is: [99, 98, 97, 91, 98]

# Section 3 : List Slicing

In [2]:
# From the list of all marks, print all the items from second marks onwards
all_marks=[60,70,80,90,100]
print(len(all_marks))
print(all_marks[1:])

5
[70, 80, 90, 100]

In [3]:
# From the list of all marks, print all the items from second marks up to the fourth marks

print(all_marks[1:4])

[70, 80, 90]

In [4]:
# From the list of all marks, print all the items from second marks up to the penultimate marks

print(all_marks[1:len(all_marks)-1])
print(all_marks[1:-1])

[70, 80, 90]
[70, 80, 90]

In [5]:
m=[0,1,2,3,4,5,6,7,8,9]
print(m[0:4])

[0, 1, 2, 3]

In [6]:
#@@@ Print every element at the odd position in the list
print(all_marks[::2])
print(all_marks[0::2])
print(all_marks[0:5:2])
print(all_marks[0:10:2])
print(all_marks[::-1])   #reverse the list

[60, 80, 100]
[60, 80, 100]
[60, 80, 100]
[60, 80, 100]
[100, 90, 80, 70, 60]

In [7]:
m=[0,1,2,3,4,5,6,7,8,9]
print(m[0:10:2])
print(m[1:10:2])

[0, 2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [8]:
# Print every element at the even position in the list
print(all_marks[1:5:2])
print(all_marks[1:10:2])

[70, 90]
[70, 90]

# Section 4 : Simple List computations

In [9]:
# Find the sum of all the marks in your list using the sum(list_name) function

print("the sum of all_marks list is:",sum(all_marks))
sum(all_marks[0:3])                         #sum of first 3 elements

the sum of all_marks list is: 400

210

In [10]:
max(12,33,56)

56

In [ ]:
# Find the maximum of all the marks in your list using the max(list_name) function

print("max no. of all_marks list is:",max(all_marks))

max no. of all_marks list is: 100

In [ ]:
# Find the minimum of all the marks in your list using the min(list_name) function

print("min no. of all_marks list is :",min(all_marks))

min no. of all_marks list is : 60

# Section 5 : Create a List using the range() function

In [ ]:
# Create a list of integers using the list(range(n)) function, where n can be any integer within the limits of your computer

print(list(range(33)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32]

In [ ]:
# What does this function give : list(range(n1, n2))

print(list(range(1,22)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21]

In [ ]:
# What does this function give : list(range(n1, n2, n3))

print(list(range(1,52,2)))
print(list(range(0,51,2)))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [ ]:
# Create a list of first 100 integers, and find their sum
super100 = list(range(1,101))
print(super100)
print("sum of first 100 integers is:",sum(super100))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
sum of first 100 integers is: 5050

In [ ]:
# Create a list of first 100 integers, and find their average
A =list(range(1,101))
print(A)
print("sum of numbers of A list is:", sum(A))
print("length of list A is:",len(A))
print("average of list A is :" ,sum(A)/len(A))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
sum of numbers of A list is: 5050
length of list A is: 100
average of list A is : 50.5

In [ ]:
# Create a list of even numbers in the range 1-100, and find their sum as well as average
B=list(range(2,101,2))
print(B)
print("sum of list (B is",sum(B))
print("length of list B",len(B))
print("average of list B is:",sum(B)/len(B))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
sum of list (B is 2550
length of list B 50
average of list B is: 51.0

In [ ]:
# Create a list of odd numbers in the range 1-100, and find their sum as well as average
C=list(range(1,101,2))
print(C)
print("The sum of odd no. list is:",sum(C))
print("The length of odd no. list is :",len(C))
print("the average of odd no. list is:",sum(C)/len(C))

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
The sum of odd no. list is: 2500
The length of odd no. list is : 50
the average of odd no. list is: 50.0

In [ ]:
# Make a copy of your list and change the first element of this new list. See what happens to the original list

list1=[23,24,25,26,27,28,29,30]
list2=list1.copy()
print("initial list is:",list1)
list2[0]=100
list2[-1]=90
print("updated list is:", list2)

initial list is: [23, 24, 25, 26, 27, 28, 29, 30]
updated list is: [100, 24, 25, 26, 27, 28, 29, 90]

# Section 6 : DIY Exercises

In [ ]:
#@@@ In a given list of numbers, swap the first and last element

list=[10,20,30,40,50,60]
M=list[0]
list[0]=list[-1]
list[-1]=M
print(list)

[60, 20, 30, 40, 50, 10]

In [ ]:
# In a given list of numbers, swap the second and fourth element

New=[100,90,80,70,60,50]
M=New[1]
New[1]=New[3]
New[3]=M
print(New)

[100, 70, 80, 90, 60, 50]

In [ ]:
# 1.Take a list of two numbers and arrange them in ascending order
T=[11,10]
maximum=max(T)
minimum=min(T)
T[0]=minimum
T[1]=maximum
print(T)

[10, 11]

In [ ]:
# 2.Take a list of two numbers and arrange them in ascending order
L=[90,80]
if L[1]>=L[0]:
    print("list L is already in ascending order" )
    print(L)
else:
    a=L[0]
    L[0]=L[1]
    L[1]=a
    print("The list L has been sorted in ascending order")
    print(L)

The list L has been sorted in ascending order
[80, 90]

In [15]:
# Create two lists : one having your 10th class board marks and another having your +2 board marks for each subject.
# Create another list that contains both these lists. So this new list will have 2 elements, both of which are lists.

Hi=99
En=98
Sc=97
IT=96
Ma=95
SST=100
list10=[]
list10.append(Hi)
list10.append(En)
list10.append(Sc)
list10.append(IT)
list10.append(Ma)
list10.append(SST)
print(list10)

P=90
C=88
M=89
H=98
E=93
list12=[]
list12.append(P)
list12.append(C)
list12.append(M)
list12.append(H)
list12.append(E)
print(list12)

Board = []
Board.append(list10)
Board.append(list12)
print(Board)

[99, 98, 97, 96, 95, 100]
[90, 88, 89, 98, 93]
[[99, 98, 97, 96, 95, 100], [90, 88, 89, 98, 93]]

In [12]:
#Board=[]
#Board.extend(list10)
#Board.extend(list12)
#print(Board)
#print(Board[0])
#Board[4]

[99, 98, 97, 96, 95, 100, 90, 88, 89, 98, 93]
99

95

In [17]:
# In the above list of lists, print the marks in the 2nd element of the first list
N=Board[0][1]
print("the second element of first list is:",N)

the second element of first list is: 98

In [9]:
# Reference for further learning : https://www.geeksforgeeks.org/python-lists/

# Section 7: For loop

In [ ]:
# make list & print all element of this one by one (by using for loop)
List = [11,12,13,14,15,16,17,18,19,20]
for x in List:
    print(x)

11
12
13
14
15
16
17
18
19
20

In [ ]:
List = [11,12,13,14,15,16,17,18,19,20]
for x in List:
    print(List)

[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
# 1.Print the first 10 +ve integer
for x in range(1,11):
    print(x)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# 2.Print the first 10 +ve integer
for x in range(10):
    print(x+1)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Print the  first 10 even numbers
for x in range(10):
    print(2*x+2)

2
4
6
8
10
12
14
16
18
20

In [ ]:
# Print the first 10 odd numbers
for x in range(10):
    print(2*x+1)

1
3
5
7
9
11
13
15
17
19

In [ ]:
#1. Print the  first 10 +ve power of 2
for x in range(1,11):
    print(2**x)

2
4
8
16
32
64
128
256
512
1024

In [ ]:
#2. Print the  first 10 +ve power of 2
for x in range(10):
    print(2**(x+1))

2
4
8
16
32
64
128
256
512
1024

In [ ]:
A=[1,2,3,4,5,6,7,8,9,10]
len(A)

10

In [ ]:
#1
list1 = [20,30,40,50,60]  
listlen=0
for x in list1:
    listlen=listlen+1
    print(listlen)
print("The length of the list is:", listlen)

1
2
3
4
5
The length of the list is: 5

In [ ]:
#2
list1 = [20,30,40,50,60]  
listlen=0
for x in list1:
    listlen=listlen+1
    print(x,listlen)
print("The length of the list is:", listlen)

20 1
30 2
40 3
50 4
60 5
The length of the list is: 5

In [ ]:
#1 Find the sum of the elements in the list
list2=[5,10,15,20,25,30,35,40]
listsum=0
for x in list2:
    listsum=listsum+x
    print(listsum)

5
15
30
50
75
105
140
180

In [ ]:
#2
list2=[5,10,15,20,25,30,35,40]
listsum=0
for x in list2:
    listsum=listsum+x
    print(x,listsum)

5 5
10 15
15 30
20 50
25 75
30 105
35 140
40 180

In [ ]:
#1 Find the product of the elements in the list
list3=[51,52,53,54,55,56,57,58,59,60]
listproduct=1
for x in list3:
    listproduct=listproduct*x
    print(listproduct)

51
2652
140556
7590024
417451320
23377273920
1332504613440
77285267579520
4559830787191680
273589847231500800

In [ ]:
#2 Find the product of the elements in the list
list3=[51,52,53,54,55,56,57,58,59,60]
listproduct=1
for x in list3:
    listproduct=listproduct*x
    print(x,listproduct)

51 51
52 2652
53 140556
54 7590024
55 417451320
56 23377273920
57 1332504613440
58 77285267579520
59 4559830787191680
60 273589847231500800

In [19]:
# Find the sum & product of first 20 +ve inteager
sum=0

for x in range(1,20):
    sum=sum+x
    print(sum)


product=1
for x in range(1,20):
    product=product*x
    print(product)

1
3
6
10
15
21
28
36
45
55
66
78
91
105
120
136
153
171
190
1
2
6
24
120
720
5040
40320
362880
3628800
39916800
479001600
6227020800
87178291200
1307674368000
20922789888000
355687428096000
6402373705728000
121645100408832000

In [ ]:
print(sum)
print(product)

190
121645100408832000

In [ ]:
#Take an intager from user as input and cheak if it is b/w 1-40,
#if yes output its factorial,
#if no, say the no. is out of range

M = int(input())
p =1 
if M in range (1,41):
    for x in range(1, M+1):
        p=p*x
    print("Yes, output its factorial", p)
else:
    print("no, say the no. is out of range")

Yes, output its factorial 120

In [15]:
#Take an integer from user as input, check if it is between 1-40, if yes output its factorial, if no, say the number is out of range.
a = int(input("write an integer"))
if (0<a<=40):
     f=1
     for x in range(a):
          f = f*(x+1)
     print((x+1),f)
else:
     print("The entered number is out of range")

5 120

# Date: 11 Sep: For loop Problem

1. Given a positive integer, print all integers from 1 up to this number.

In [79]:
#@@@@
a=int(input("Enter a positive integer"))
print(a)
for x in range(1,a+1):
    print(x)

10
1
2
3
4
5
6
7
8
9
10

2. Given a positive integer, find out its factorial.

In [80]:
b=int(input("Enter a positive integer"))
print(b)
f=1
for x in range(1,b+1):
    f=f*x
print("Its factorial is:",f)

5
Its factorial is: 120

3. Given a positive integer, find out the sum of all integers from 1 up to this number.

In [81]:
c=int(input("Enter a positive integer"))
print(c)
s=0
for x in range(1,c+1):
    s=s+x
print("Sum of all integers upto this no. is:",s)

10
Sum of all integers upto this no. is: 55

4. Given a positive integer, find out the sum of all odd numbers from 1 up to this number.

In [82]:
d=int(input("Enter a positive integer"))
print(d)
s=0
for x in range(1,d+1,2):
    s=s+x
print("Sum of all odd no. upto this no.:",s)

10
Sum of all odd no. upto this no.: 25

In [83]:
d=int(input("Enter a positive no."))
print(d)
s=0
for x in range(1,d+1):
    if (x%2)!=0:
        s=s+x
print("Sum of all odd no. upto this no.:",s)

10
Sum of all odd no. upto this no.: 25

5. Given a positive integer, find out the sum of all even numbers from 2 up to this number.

In [84]:
e=int(input("Enter a positive no."))
print(e)
s=0
for x in range(2,e+1,2):
    s=s+x
print("Sum of all even no. upto this no.:",s)

10
Sum of all even no. upto this no.: 30

In [85]:
e=int(input("Enter a positive no."))
print(e)
s=0
for x in range(2,e+1):
    if(x%2)==0:
        s=s+x
print("Sum of all even no. upto this no.:",s)

10
Sum of all even no. upto this no.: 30

6. Given a positive integer, print the multiplication table of that integer up to 10.

In [12]:
f=int(input("Enter a positive no."))
print(f)
for x in range(1,11):
    print(f,"X",x,"=",f*x)

5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50













7. Given a positive integer, print each of its digits separately without converting the number into a string.

In [ ]:
# @@@

# SOME OTHER Q (12 SEP)

# Date: 18 SEP (While loop)

In [1]:
count = 0
while(count<3):
    count=count+1
    print("hello Greek")

hello Greek
hello Greek
hello Greek

In [3]:
a=[1,2,6,3,4]
while a:
    print(a.pop())                #reversed order

4
3
6
2
1

In [5]:
count = 0
while (count<5):
    count+=1
    print("Hello Greek")

Hello Greek
Hello Greek
Hello Greek
Hello Greek
Hello Greek

In [6]:
#@@@@print all letters except 'e' and 's'
i=0
a="geeksforgeeks"
while i<len(a):
    if a[i]=="e" or a[i]=="s":
        i=i+1
        continue

    print("Current Letter :", a[i])
    i=i+1

Current Letter : g
Current Letter : k
Current Letter : f
Current Letter : o
Current Letter : r
Current Letter : g
Current Letter : k

In [8]:
# break the loop as soon it sees "e" or "s"
i=0
a="geeksforgeeks"

while i<len(a):
    if a[i]=="e" or a[i]=="s":
        i+=1
        break
    print("Current Letter :",a[i])
    i+=1

Current Letter : g

In [9]:
# An empty loop
a="geeksforgeeks"
i=0
while i<len(a):
    i+=1
    pass
print("Value of i:",i)

Value of i: 13

In [10]:
# python program to demonstrate
# while-else loop
i=0
while i<4:
    i+=1
    print(i)
else:
    print("No Break\n")

i=0
while i<4:
    i+=1
    print(i)
    break
else:
    print("No Break")

1
2
3
4
No Break

1

In [16]:
a = int(input('Enter a number(-1 to quit): '))
while a!= -1:
    a = int(input('Enter a number (-1 to quit): '))
    print('Enter a number (-1 to quit): ',a)

Enter a number (-1 to quit):  5
Enter a number (-1 to quit):  6
Enter a number (-1 to quit):  7
Enter a number (-1 to quit):  8
Enter a number (-1 to quit):  8
Enter a number (-1 to quit):  9
Enter a number (-1 to quit):  9
Enter a number (-1 to quit):  100
Enter a number (-1 to quit):  10
Enter a number (-1 to quit):  89
Enter a number (-1 to quit):  78
Enter a number (-1 to quit):  7
Enter a number (-1 to quit):  67
Enter a number (-1 to quit):  45
Enter a number (-1 to quit):  45
Enter a number (-1 to quit):  45
Enter a number (-1 to quit):  9
Enter a number (-1 to quit):  89
Enter a number (-1 to quit):  89
Enter a number (-1 to quit):  89
Enter a number (-1 to quit):  98
Enter a number (-1 to quit):  -19
Enter a number (-1 to quit):  -87
Enter a number (-1 to quit):  -45
Enter a number (-1 to quit):  -11
Enter a number (-1 to quit):  -1

In [17]:
count=0
while True:
    count+=1
    print(f"Count is {count}")

    if count == 10:
        break
print("The loop has ended.")

Count is 1
Count is 2
Count is 3
Count is 4
Count is 5
Count is 6
Count is 7
Count is 8
Count is 9
Count is 10
The loop has ended.