In [1]:
print("Hello Motto")

Hello Motto

In [2]:
print(5)

5

In [3]:
print("Hello Motto" ,8,      2 ,1   ,     5)

Hello Motto 8 2 1 5

In [4]:
print("bye")

bye

In [5]:
print(17+17)

34

In [6]:
print(17-17)

0

In [7]:
print(17*17)

289

In [8]:
print(17/17)

1.0

In [9]:
#Comments print in python
# escape sequence character 1./n
# Hey Harry ,please dont remove this line
# 100 days 
print("Hey I am a good boy \nand this viewer is also a good boy/girl")

Hey I am a good boy
and this viewer is also a good boy/girl

In [10]:
print("Hello Motto")
# hello World

print('hey theree i am usinfg the whatsapp \nhey this is puneet kumar \nhey this is mayank kumar')

Hello Motto
hey theree i am usinfg the whatsapp
hey this is puneet kumar
hey this is mayank kumar

In [11]:
#VS CODE SHORTCUTS
#1. line niche lana hai to ENTER ka use nahi hoga to \n ka use hoga.
#2. Comment banane ke liye Ctrl + / ka use kare.
#3. multiline comment

In [17]:
#hame good boy ko "" ke ander rakhna hai so use backward slesh\" age piche
#string ' ko \ ke ander '
#string "" so use in \ this ""

print("Hey I am a \"good boy\" \nand this viewer is also a good boy/\"girl\"")

Hey I am a "good boy"
and this viewer is also a good boy/"girl"

In [13]:
print("hey , 8 ,9")

hey , 8 ,9

In [14]:
#tilde
print("hey" , 5 ,8 , sep="~")

hey~5~8

In [15]:
print("hey" ,7,8 ,sep="/")

hey/7/8

In [4]:
 print("hey", 8 , 9, sep="*", end="009\n")
print("lala")

hey*8*9009
lala

In [6]:
a=15667777665443356
print(a)

15667777665443356

In [7]:
b="lala"
print(b)

lala

In [8]:
lala=9
b=lala
print(b)

9

In [9]:
a=123
a1=5
print(a+a1)

128

# Day 26

In [1]:
import time
timestamp=time.strftime("%H:%M:%S")
print(timestamp)
timestamp=time.strftime("%H")
print(timestamp)
timestamp=time.strftime("%M")
print(timestamp)
timestamp=time.strftime("%S")
print(timestamp)

18:06:53
18
06
53

In [2]:
import time
t=time.strftime("%H:%M:%S")
hour=int(time.strftime("%H"))
print(hour)

if (hour>=0 and hour<12):
    print("Good Morning Sir!")
elif(hour>=12 and hour<17):
    print("Good Afternoon Sir!")
elif (hour>=17 and hour<20):
    print("Good Evening Sir!")
else:
    print("Good Night Sir!")

18
Good Evening Sir!

In [3]:
import time
t=time.strftime("%H:%M:%S")
hour=int(time.strftime("%H"))
hour=int(input("Enter hour: "))
print(hour)

if (hour>=0 and hour<12):
    print("Good Morning Sir!")
elif(hour>=12 and hour<17):
    print("Good Afternoon Sir!")
elif (hour>=17 and hour<20):
    print("Good Evening Sir!")
else:
    print("Good Night Sir!")

3
Good Morning Sir!

# Day 27

Create a program capable of displaying questions to the user like KBC.
Use list data type to store the questions and their correct answer.
Display the final amount the person is taking home after playing the game.

# Day 28 --(f-string)

In [5]:
letter="Hey my name is {} and i am from {}"
country="India"
name="Harry"
print(letter.format(name,country))

Hey my name is Harry and i am from India

In [6]:
letter="Hey my name is {} and i am from {}"
country="India"
name="Harry"
print(letter.format(country,name))

Hey my name is India and i am from Harry

In [7]:
letter="Hey my name is {0} and i am from {1}"
country="India"
name="Harry"
print(letter.format(name,country))

Hey my name is Harry and i am from India

In [8]:
letter="Hey my name is {1} and i am from {0}"
country="India"
name="Harry"
print(letter.format(country,name))

Hey my name is Harry and i am from India

In [13]:

country="India"
name="Harry"
print(f"Hey my name is {name} and i am from {country}")

Hey my name is Harry and i am from India

In [25]:
print(f"We use f-strings like this: Hey my name is {{name}} and i am from {{country}}  ")

We use f-strings like this: Hey my name is {name} and i am from {country}

In [15]:
txt="For only {price:.2f} dollars!"
print(txt.format(price=49.099999))

For only 49.10 dollars!

In [18]:
price=49.099999
txt=f"For only {price:.2f} dollars!"
print(txt)

For only 49.10 dollars!

In [24]:
print(type(2*30))
print(2*30)

<class 'int'>
60

In [23]:
print(type(f"{2*30}"))
print(f"{2*30}")

<class 'str'>
60

# Day 29

1) Docstrings
2) PEP-8

In [34]:
def square(n):
    '''Takes in a number n,returns the square of n''' #yah comment nahi docstring hai docstring change karne se programme change ho sakta hai
    print(n**2)      #body ke uper doc string dale
square(5)            # doc string ko function ke theek below dalna hai aur body ke theek uper
print(square.__doc__)

25
Takes in a number n,returns the square of n

In [35]:
def square(n):
    print(n)
    '''Takes in a number n,returns the square of n''' #yah comment nahi docstring hai docstring change karne se programme change ho sakta hai
    print(n**2)      #body ke uper doc string dale
square(5)
print(square.__doc__)

5
25
None

In [38]:
def square(n):
    '''Takes in a number n,returns the square of n''' #yah comment nahi docstring hai docstring change karne se programme change ho sakta hai
    print("lll")
    print(n**2)      #body ke uper doc string dale
square(5)
print(square.__doc__)

lll
25
Takes in a number n,returns the square of n

In [39]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# Day 30 (Recursion)

In [40]:
# factorial(3)=3*2*1
# factorial(4)=4*3*2*1
# factorial(n)=n*factorial(n-1)

# Day 31(Set)

In [2]:
s={2,4,2,6}
print(s)

{2, 4, 6}

In [3]:
info={"Carla",19,"false",5.9,18}
print(info)

{'Carla', 18, 19, 5.9, 'false'}

In [4]:
harry={}
print(type(harry))

<class 'dict'>

In [5]:
#empty set
harry=set()
print(type(harry))

<class 'set'>

In [7]:
for value in info:
    print(value)

Carla
18
19
5.9
false

# Day 32

In [9]:
s1={1,2,5,6}
s2={3,6,7}
print(s1.union(s2))

{1, 2, 3, 5, 6, 7}

In [10]:
print(s1,s2)

{1, 2, 5, 6} {3, 6, 7}

In [12]:
s1.update(s2)   #s1 ke ander vo value bhi lao jo s2 me hai
print(s1,s2)

{1, 2, 3, 5, 6, 7} {3, 6, 7}

In [14]:
cities1={"tokyo","madrid","berlin","delhi"}
cities2={"tokyo","seoul","kabul","madrid"}
cities3=cities1.intersection(cities2)
print(cities3)
print(cities1,cities2)

{'tokyo', 'madrid'}
{'delhi', 'berlin', 'tokyo', 'madrid'} {'kabul', 'tokyo', 'madrid', 'seoul'}

In [16]:
cities1={"tokyo","madrid","berlin","delhi"}
cities2={"tokyo","seoul","kabul","madrid"}
cities1.intersection_update(cities2)

print(cities1,cities2)

{'tokyo', 'madrid'} {'kabul', 'tokyo', 'madrid', 'seoul'}

In [18]:
cities1={"tokyo","madrid","berlin","delhi"}
cities2={"tokyo","seoul","kabul","madrid"}
cities3=cities1.symmetric_difference(cities2)      #(AUB)-(AIB)
print(cities3)
print(cities1,cities2)

{'seoul', 'berlin', 'kabul', 'delhi'}
{'delhi', 'berlin', 'tokyo', 'madrid'} {'kabul', 'tokyo', 'madrid', 'seoul'}

In [19]:
cities1={"tokyo","madrid","berlin","delhi"}
cities2={"tokyo","seoul","kabul","madrid"}
cities3=cities1.difference(cities2)      #(A)-(B)
print(cities3)
print(cities1,cities2)

{'berlin', 'delhi'}
{'delhi', 'berlin', 'tokyo', 'madrid'} {'kabul', 'tokyo', 'madrid', 'seoul'}

In [23]:
cities1={"tokyo","madrid","berlin","delhi"}
cities2={"tokyo","seoul","kabul","madrid"}
cities3=cities1.isdisjoint(cities2)      #koi element common n ho
print(cities3)

False

In [22]:
cities1={"tokyo1","madrid1","berlin","delhi"}
cities2={"tokyo","seoul","kabul","madrid"}
cities3=cities1.isdisjoint(cities2)      
print(cities3)

True

In [24]:
cities1={"tokyo","madrid","berlin","delhi"}
cities2={"seoul","kabul"}
cities3=cities1.issuperset(cities2)      #cities2 ki pori values cities1 me hai,,to cities1 superset hai cities2 ka
print(cities3)                           #cities2 ki pori values cities1 me hai,,to cities2 subset hai cities1 ka

False

In [25]:
cities1={"seoul","kabul","berlin","delhi"}
cities2={"seoul","kabul"}
cities3=cities1.issuperset(cities2)     
print(cities3)

True

In [26]:
cities1={"seoul","kabul","berlin","delhi"}
cities2={"seoul","kabul"}
cities3=cities2.issubset(cities1)     
print(cities3)

True

In [28]:
cities1={"seoul","kabul","berlin","delhi"}
cities1.add("Sagar")     
print(cities1)

{'seoul', 'Sagar', 'kabul', 'berlin', 'delhi'}

In [32]:
cities1={"seoul","kabul","berlin","delhi"}
cities1.remove("seoul")    
print(cities1)

{'kabul', 'berlin', 'delhi'}

In [33]:
cities1={"seoul","kabul","berlin","delhi"}
cities1.remove("seoul1")    
print(cities1)

KeyError: 'seoul1'

In [34]:
cities1={"seoul","kabul","berlin","delhi"}
cities1.discard("seoul")    
print(cities1)

{'kabul', 'berlin', 'delhi'}

In [35]:
cities1={"seoul","kabul","berlin","delhi"}
cities1.discard("seoul1")    
print(cities1)

{'kabul', 'berlin', 'delhi', 'seoul'}

In [36]:
cities1={"seoul","kabul","berlin","delhi"}
item=cities1.pop()     # pop se koi rendom value choose hoti hai            
print(cities1) 
print(item)

{'berlin', 'delhi', 'seoul'}
kabul

In [39]:
cities1={"seoul","kabul","berlin","delhi"}
del cities1                
print(cities1)

NameError: name 'cities1' is not defined

In [40]:
cities1={"seoul","kabul","berlin","delhi"}
cities1.clear()                
print(cities1)

set()

In [46]:
info={"carla",19,"false",False,5.9}
if "carla" in info:
    print("carla is present.")
else:
    print("carla is absent.")

carla is present.

# Day 33 (Dictionary)

In [55]:
dic = {
    "Harry" : "Human being",
    "Spoon" : "Object"
}

print(dic["Harry"])

Human being

In [62]:
dic = {
    111 : "Mayank",
    222 : "Raja",
    333 : "Rajiv",
    444 : "Neha"
}

print(dic[111])
print(dic[444])

Mayank
Neha

In [63]:
info = {'name':'Karan', 
        'age':19, 
        'eligible':True}
print(info)

{'name': 'Karan', 'age': 19, 'eligible': True}

In [66]:
info = {'name':'Karan', 
        'age':19, 
        'eligible':True}
print(info['name'])
print(info["name"])
print(info['eligible'])

Karan
Karan
True

In [67]:
info = {'name':'Karan', 
        'age':19, 
        'eligible':True}
print(info['name'])
print(info.get('name'))

Karan
Karan

In [68]:
info = {'name':'Karan', 
        'age':19, 
        'eligible':True}
print(info['name2'])
print(info.get('name2'))

KeyError: 'name2'

In [69]:
info = {'name':'Karan', 
        'age':19, 
        'eligible':True}
# print(info['name2'])
print(info.get('name2'))

None

In [1]:
info = {'name':'Karan', 
        'age':19, 
        'eligible':True}
print(info)
print(info.keys())
print(info.values())

{'name': 'Karan', 'age': 19, 'eligible': True}
dict_keys(['name', 'age', 'eligible'])
dict_values(['Karan', 19, True])

In [72]:
info = {'name':'Karan', 
        'age':19, 
        'eligible':True}
print(info)
for key in info.keys():
    print(info[key])

{'name': 'Karan', 'age': 19, 'eligible': True}
Karan
19
True

In [2]:
info = {'name':'Karan', 
        'age':19, 
        'eligible':True}
print(info)
for key in info.keys():
    print(f"The value corresponding to the key {key} is {info[key]}")

{'name': 'Karan', 'age': 19, 'eligible': True}
The value corresponding to the key name is Karan
The value corresponding to the key age is 19
The value corresponding to the key eligible is True

In [4]:
info = {'name':'Karan', 
        'age':19, 
        'eligible':True}
print(info.items())     #items hame key,value pair de deta hai
for key,value in info.items():
    print(f"The value corresponding to the key {key} is {value}")

dict_items([('name', 'Karan'), ('age', 19), ('eligible', True)])
The value corresponding to the key name is Karan
The value corresponding to the key age is 19
The value corresponding to the key eligible is True

# Day 34

In [5]:
#Method 1)update
ep1={122:45,123:89,567:69,670:69}  #employee id:performence
ep2={222:67,566:90}
ep1.update(ep2)
print(ep1)

{122: 45, 123: 89, 567: 69, 670: 69, 222: 67, 566: 90}

In [1]:
ep1={122:45,123:89,567:69,670:69}  #employee id:performence
ep2={222:67,566:90}
ep1.clear()
print(ep1)

{}

In [2]:
empt={}
print(empt)

{}

In [3]:
ep1={122:45,123:89,567:69,670:69}  #employee id:performence
ep2={222:67,566:90}
ep1.pop(122)       #remove
print(ep1)

{123: 89, 567: 69, 670: 69}

In [4]:
ep1={122:45,123:89,567:69,670:69}  #employee id:performence
ep2={222:67,566:90}
ep1.popitem()                      #last wala key,value pair remove
print(ep1)

{122: 45, 123: 89, 567: 69}

In [5]:
ep1={122:45,123:89,567:69,670:69}  #employee id:performence
ep2={222:67,566:90}
del ep1
print(ep1)

NameError: name 'ep1' is not defined

In [7]:
ep1={122:45,123:89,567:69,670:69}  #employee id:performence
ep2={222:67,566:90}
del ep1[122]
print(ep1)

{123: 89, 567: 69, 670: 69}

In [8]:
#python dictionary documentation

# Day 35

In [10]:
for i in range(5):
    print(i)
else:
    print("Sorry no i")

0
1
2
3
4
Sorry no i

In [11]:
for i in []:
    print(i)
else:
    print("Sorry no i")

Sorry no i

In [19]:
for i in range(6):
    print(i)
    if i==4:
        break
else:
    print("Sorry no i")

0
1
2
3
4

In [21]:
i=0
while i<7:
    print(i)
    i=i+1
    if i==4:
        break
else:
    print("Sorry no i")

0
1
2
3

In [22]:
i=0
while i<7:
    print(i)
    i=i+1

    
else:
    print("Sorry no i")

0
1
2
3
4
5
6
Sorry no i

In [23]:
for x in range(5):
    print("iteration no {} in for loop",format(x+1))
else:
    print("else block in loop")
print("Out of loop")

iteration no {} in for loop 1
iteration no {} in for loop 2
iteration no {} in for loop 3
iteration no {} in for loop 4
iteration no {} in for loop 5
else block in loop
Out of loop

# Day 36

In [24]:
a=input("Enter the number:")
print(f"Multiplication table of {a} is:")
for i in range(1,11):
    print(f"{int(a)}X{i}={int(a)*i}")

Multiplication table of 7 is:
7X1=7
7X2=14
7X3=21
7X4=28
7X5=35
7X6=42
7X7=49
7X8=56
7X9=63
7X10=70

In [25]:
a=input("Enter the number:")
print(f"Multiplication table of {a} is:")
for i in range(1,11):
    print(f"{int(a)}X{i}={int(a)*i}")

Multiplication table of Maya is:

ValueError: invalid literal for int() with base 10: 'Maya'

In [26]:
a=input("Enter the number:")
print(f"Multiplication table of {a} is:")
try:
    for i in range(1,11):
        print(f"{int(a)}X{i}={int(a)*i}")
except:
    print("Invalid Input")

print("Some imp lines of code")
print("End of progarm")

Multiplication table of Maya is:
Invalid Input
Some imp lines of code
End of progarm

In [27]:
a=input("Enter the number:")
print(f"Multiplication table of {a} is:")
try:
    for i in range(1,11):
        print(f"{int(a)}X{i}={int(a)*i}")
except Exception as e:
    print("e")

print("Some imp lines of code")
print("End of progarm")

Multiplication table of Maya is:
e
Some imp lines of code
End of progarm

In [32]:
try:
    num=int(input("Enter an integer:"))
    a=[6,3]
    print(a[num])
except ValueError:
    print("Number entered is not an integer")
except IndexError:
    print("Index Error")

Index Error