In [2]:
print("Mahakal Ki Maya")

Mahakal Ki Maya

In [3]:
print("teri hi krapa se 1dam mast jindgi hai")

teri hi krapa se 1dam mast jindgi hai

In [4]:
a=1567
print(a)

1567

In [5]:
b="mama"
print(b)

mama

In [6]:
mama=8
b=mama
print(b)

8

In [7]:
a=2
ak=9
print(a +ak)

11

In [8]:
 k=2
print("The type of a is" , type(a))

The type of a is <class 'int'>

In [9]:
p="kaka"
print("The type of b is" , type(p) )

The type of b is <class 'str'>

In [10]:
c= True
print("The type of c is" , type(c))

The type of c is <class 'bool'>

In [11]:
d= None
print("The type of d is " , type(d))

The type of d is  <class 'NoneType'>

In [12]:
a=1.1
print("The type of a is", type(a))

The type of a is <class 'float'>

In [13]:
a=complex(6-3)
print("The type of a is" , type(a))

The type of a is <class 'complex'>

In [14]:
a=complex(6,3)
print("The type of a is" , type(a))

The type of a is <class 'complex'>

In [15]:
list1 = [3,9.8,5,6, [-5 , -6] , ["apple" , "banana"]]
print(list1)

[3, 9.8, 5, 6, [-5, -6], ['apple', 'banana']]

In [16]:
tuple1 = (("parrot" , "sparrow") , ("Joker" , "haha"))
print(tuple1)

(('parrot', 'sparrow'), ('Joker', 'haha'))

In [17]:
# python me sab kuchh ek object hai
#opretr

In [18]:
print(5+6)
print(5-6)
print(5*6)
print(5/6)
print(50//6)
print(50%6)
print(5**2)
print(5-6)

11
-1
30
0.8333333333333334
8
2
25
-1

In [19]:
# Calculater
# Alt+Shift+Down arrow
# Alt dabakar click kare "Multiple Carcle milega"
a= 3
b=4
print("the value of", a, "+", b, "is:", a+b)
print("The value of", a,"-",b, "is:", a-b)
print("The vaiue of ", a,"*", b, "is:" ,a*b)
print("the value of", a,"/",b, "is:", a/b)
print("The value of", a,"//",b, "is:", a//b)
print("The vaiue of ", a,"%", b, "is:" ,a%b)
print("the value of", a,"**",b, "is:", a**b)

the value of 3 + 4 is: 7
The value of 3 - 4 is: -1
The vaiue of  3 * 4 is: 12
the value of 3 / 4 is: 0.75
The value of 3 // 4 is: 0
The vaiue of  3 % 4 is: 3
the value of 3 ** 4 is: 81

In [20]:
# string + string 
a="1"
b="2"
print(a+b)

12

In [21]:
a= "Maya"
b= " Mahakal Ki"
print(a+b)

Maya Mahakal Ki

In [22]:
a="1"
a=1
b= "4"
b=4
print(a+b)

5

In [23]:
# string convert intege
a="3"
b="4"
print(a+b)
print(int(a)+int(b))

34
7

In [24]:
string = "15"
number = "7"
string_number = int(string)
sum = int(number) + string_number
print("The sum of both the number is :" , sum)

The sum of both the number is : 22

In [25]:
string = "15"
number = 7
string_number = int(string)
sum = int(number) + string_number
print("The sum of both the number is :" , sum)

The sum of both the number is : 22

In [26]:
a=3
b=5.9
print(a+b)

8.9

In [27]:
# python autometicly converts
# a to int 
# b to float 
# c is float addintion
a =7
print(type(a))
b = 3.0
print(type(b))
c= a+b
print(type(c))

<class 'int'>
<class 'float'>
<class 'float'>

In [28]:
a= input()
print(a)

In [29]:
a = input()
print("My name is:", a)

My name is:

In [30]:
a= input("Enter first number :")
b= input("Enter second name :" )
print(a +b)

In [31]:
a= input("Enter first number :")
b= input("Enter second name :" )
print(a +          b)
print(int(a)+int(b))

In [ ]:
a= input("Enter first number :")
b= input("Enter second name :" )
print(a - b)
print(int(a)-int(b))

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [ ]:
a= input("Enter first number :")
b= input("Enter second name :" )
print(a ** b)
print(int(a)**int(b))

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'str'

In [ ]:
# triple single/ double core ke ander ki chij string ban jati hai
name = "Mayank"
friend =" Nayra"
apple= "He said, Hi Harry hey I am good I want to eat an apple"
mango= """He said,
Hi Harry
hey I am good 
I want to eat an apple"""
print("Hello," + name)
print(apple)
print(mango)

Hello,Mayank
He said, Hi Harry hey I am good I want to eat an apple
He said,
Hi Harry
hey I am good
I want to eat an apple

In [ ]:
friend ="Nayra"
print(name[0])
print(name[1])
print(name[2])
print(name[3])
print(name[4])
print(name[5])
print(friend[0])
print(friend[1])
print(friend[2])
print(friend[3])
print(friend[4])

M
a
y
a
n
k
N
a
y
r
a

In [ ]:
mango= """He said,
Hi Harry
hey I am good 
I want to eat an apple"""
for character in mango :
    print(character)

H
e

s
a
i
d
,


H
i

H
a
r
r
y


h
e
y

I

a
m

g
o
o
d



I

w
a
n
t

t
o

e
a
t

a
n

a
p
p
l
e

In [ ]:
for character in name :
    print(character)

M
a
y
a
n
k

In [ ]:
print("Lets use a for loop")
for character in friend :
    print(character)

Lets use a for loop
N
a
y
r
a

In [ ]:
print("Lets use a for loop\n")
for character in friend :
    print(character)

Lets use a for loop

N
a
y
r
a

In [ ]:
names = "harry,Mayank"
print(names[0:6])
# 0 se lekar n-1 tak batata hai

harry,

In [ ]:
print(len(names))

12

In [ ]:
fruit = "Mango"
len1 = len(fruit)
print("Mango is a" , len1 , "letter word")

Mango is a 5 letter word

In [ ]:
print(fruit[0:4])

Mang

In [ ]:
print(fruit[:4])
# 0 aapne aap laga deta hai

Mang

In [ ]:
print(fruit[1:4])

ang

In [ ]:
print(fruit[:])
print(fruit[:5])
print(fruit[0:5])

Mango
Mango
Mango

In [ ]:
print(fruit[0:-3])
print(fruit[0: len(fruit)-3])
print(fruit[: len(fruit)-3])

Ma
Ma
Ma

In [ ]:
# [0:4]including 0 but not a 4
print(fruit[-4:len(fruit)-3]) 
print(fruit[-4:-3]) 
print(fruit[-4:len(fruit)-2])
print(fruit[-4:-2])
print(fruit[-4:len(fruit)-1])
print(fruit[-4:-1])

a
a
an
an
ang
ang

In [ ]:
# strings are immutable\ unchange but make new string
a = "Mayank"
print(len (a))
print(a.upper())
print(a.lower())

6
MAYANK
mayank

In [ ]:
b = "Mahakal!!!!!!"
print(b.upper())
print(b.lower())
print(b.rstrip("!"))

MAHAKAL!!!!!!
mahakal!!!!!!
Mahakal

In [ ]:
c= "!!!!!Maya!!!!!"
print(c.rstrip("!"))

!!!!!Maya

In [ ]:
d= "!!!!megha!!!!megha!!!!"
print(d.replace("megha","pooja"))

!!!!pooja!!!!pooja!!!!

In [ ]:
E= "srmu srmu !!!! mayami:::: usa'''''''"
print(E.split(" "))

['srmu', 'srmu', '!!!!', 'mayami::::', "usa'''''''"]

In [ ]:
f="introdUcatioN of cS"
print(f.capitalize())

Introducation of cs

In [ ]:
str1 = "welcome to the console!!!!"
print(len(str1))
print(str1.center(50))
print(len(str1.center(50)))

26
            welcome to the console!!!!
50

In [ ]:
print(d.count("megha"))
print(E.count('srmu'))

2
2

In [ ]:
str1 = "welcome to the console!!!!"
print(str1.endswith("!!!!"))
print(str1.endswith("!!!"))
print(str1.endswith("to", 4,10))
print(str1.endswith("he" , 9,14))

True
True
True
True

In [ ]:
W= "He's name is DON. he is an honest man."
print(W.find("ON"))
print(W.find("love"))

14
-1

In [ ]:
W= "He's name is DON. he is an honest man."

print(W.index("DON"))

13

In [ ]:
print(W.index("don"))

ValueError: substring not found

In [ ]:
R = "WeicomeTotheconsole90876"
print(R.isalnum())

True

In [ ]:
W= "He's name is DON. he is an honest man."
print(W.isalnum())

False

In [ ]:
R = "WeicomeTotheconsole90876"
print(R.isalpha())

False

In [ ]:
R = "WeicomeTotheconsole"
print(R.isalnum())

True

In [ ]:
R = "WeicomeTotheconsole90876"
print(R.islower())

False

In [ ]:
R= "WeicomeTotheconsole90876"
print(R.lower())

weicometotheconsole90876

In [ ]:
a= "weicometotheconsole90876"
print(a.islower())

True

In [ ]:
M = "WeicomeTotheconsole90876"
print(M.isprintable())

True

In [ ]:
M = "WeicomeTotheconsole90876/n"
print(M.isprintable())

True

In [ ]:
M = "WeicomeTotheconsole90876\n"
print(M)
print(M.isprintable())

WeicomeTotheconsole90876

False

In [ ]:
S="            "                
# using spacebar
print(S.isspace())

True

In [ ]:
S="                 "
# using tab
print(S.isspace())

True

In [ ]:
Q="using         spacebar"
print(Q.isspace())

False

In [ ]:
Q="uSing spacebar"
print(Q.istitle())

False

In [ ]:
Q="using Zpacebar"
print(Q.istitle())

False

In [ ]:
Q="Xing Spacebar"
print(Q.istitle())

True

In [ ]:
Q="Cing Lpacebar"
print(Q.istitle())

True

In [ ]:
Q="King spacebar"
print(Q.isspace())

False

In [ ]:
Q="Aging spacebar"
print(Q.isupper())

False

In [ ]:
Q="Aging spacebar"
print(Q.upper())

AGING SPACEBAR

In [ ]:
Y="AGING SPACEBAR"
print(Y.isupper())

True

In [ ]:
O="AGING SPACEBAR"
print(O.startswith("AG"))

True

In [ ]:
O="AGING SPACEBAR"
print(O.startswith("AGING SPA"))

True

In [ ]:
S= "VIJAY THAILAPATI IS MINE CRUSH"
print(S.swapcase())

vijay thailapati is mine crush

In [ ]:
S= "VIJAY THAILAPATI IS MINE CRUSH"
print(S.lower())

vijay thailapati is mine crush

In [ ]:
A="vijay thailapati is mine crush"
print(A.swapcase())

VIJAY THAILAPATI IS MINE CRUSH

In [ ]:
A="VIJAY THAILAPATI is mine crush"
print(A.swapcase())

vijay thailapati IS MINE CRUSH

In [ ]:
W= "VIJAY THAILAPATI is mine crush"
print(W.title())

Vijay Thailapati Is Mine Crush

In [ ]:
a = int(input ("Enter Your Age"))
print("Your age is:" , a)
if a>18:
    print("you can drive")
else :
    print("You can not drive")

Your age is: 3
You can not drive

In [ ]:
# conditional operators
# <,>, >=, <=,==,!=
a = int(input ("Enter Your Age"))
print("Your age is:" , a)
print(a>18)
print(a<18)
print(a>=18)
print(a<=18)
print(a==18)
print(a!=18)

Your age is: 18
False
False
True
True
True
False

In [ ]:
a = int(input ("Enter Your Age"))
print("Your age is:" , a)
print(a>18)
print(a<18)
print(a>=18)
print(a<=18)
print(a==18)
print(a!=18)

Your age is: 19
True
False
True
False
False
True

In [ ]:
ApplePrice =200
Budght = 200
if (ApplePrice <= Budght):
    print("Alexa,add 1 kg Apples to the cart. ")
else:
    print("Alexa, do not add apples in the cart")

Alexa,add 1 kg Apples to the cart.

In [ ]:
ApplePrice =10
Budght = 200
if (Budght-ApplePrice > 50 ):
    print("Alexa,add 1 kg Apples to the cart. ")
elif (Budght-ApplePrice > 70 ):
    print("Alexa, It's okay you can buy . ")
else:
    print("Alexa, do not add apples in the cart")

Alexa,add 1 kg Apples to the cart.

In [ ]:
num = int(input("Enter the value of num:"))
if (num <0 ):
    print("No. is negative")
elif (num == 0):
    print("No. is zero.")
    
else:
    print("No. is positive")

No. is zero.

In [ ]:
num = int(input("Enter the value of num:"))
if (num <0 ):
    print("No. is negative")
elif (num == 0):
    print("No. is zero.")
elif (num == 999):
    print("No. is zero.")
else:
    print("No. is positive")

No. is zero.

In [ ]:
num = 18
if (num <  0):
    print("Number is negative")
elif (num > 0):
    if (num <= 10):
        print("No. is between 1-10")
    elif (num > 10 and num <= 20):
        print("No. is between 11-20")
    else: print("No. is greater than 20")
else:
    print("no. is zero")

No. is between 11-20

In [ ]:
#say good morning

In [ ]:
x = int(input("Enter the value of num:"))
# x is the variable to match
match x:
    # if x is 0
    case 0:
        print("No. is Zero")
    # case with if-condition
    case 4:
        print("No. is 4")
    case _ if x!=90:
        print(x, "is not 90")
    case _ if x!=80:
        print(x, "is not 80")
    case _:
        print(x)

18 is not 90

# Video 17 : LOOP

In [ ]:
print(1)
print(2)
print(3)
print(4)
print(5)
print(6)

1
2
3
4
5
6

In [ ]:
#LOOP
# 1.for 2.while 
name = "mayank"
for i in name:
    print(i)

m
a
y
a
n
k

In [ ]:
name = "mayank"
for i in name:
    print(i) 
    if(i =="y"):
        print("This is something special!")

m
a
y
This is something special!
a
n
k

In [ ]:
colors = ["RED","GREEN","BLUE","YELLOW"]
for x in colors:
    print(x)

RED
GREEN
BLUE
YELLOW

In [ ]:
#Doubt
colors = ["RED","GREEN","BLUE","YELLOW"]
for x in colors:
    print(x)
    for i in x:
        print(i)

RED
R
E
D
GREEN
G
R
E
E
N
BLUE
B
L
U
E
YELLOW
Y
E
L
L
O
W

In [ ]:
#0 se 4 tak
for k in range(5):
    print(k)

0
1
2
3
4

In [ ]:
for h in range(5):
    print(h+1)

1
2
3
4
5

In [ ]:
#range
for j in range(1,20):
    print(j+2)

3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21

In [ ]:
for k in range(1,12,3):
    print(k)

1
4
7
10

In [ ]:
for i in range(3):
    print(i)

0
1
2

In [ ]:
# while
i=0
while(i<3):
    print(i)
    i = i+1
print("Done with the loop")

0
1
2
Done with the loop

In [ ]:
i=0
while(i<=3):
    print(i)
    i = i+1
print("Done with the loop")

0
1
2
3
Done with the loop

In [ ]:
i=int(input("enter the no. :"))
while(i<=38):
    i=int(input("enter the no. :"))
    print(i)
  
print("Done with the loop")

24
34
35
36
34
34
34
36
38
39
Done with the loop

In [ ]:
#dicrimenting while loop
count = 5
while (count > 0):
    print(count)
    count = count - 1

5
4
3
2
1

In [ ]:
count = 5
while (count > 0):
    print(count)
    count = count - 1
else:
    print("I am inside else")

5
4
3
2
1
I am inside else

In [ ]:
count = -5
while (count > 0):
    print(count)
    count = count - 1
else:
    print("I am inside else")

I am inside else

# Day : 19

In [ ]:
for i in range(12):
    print("5 X ",i ,"=",5*i)

5 X  0 = 0
5 X  1 = 5
5 X  2 = 10
5 X  3 = 15
5 X  4 = 20
5 X  5 = 25
5 X  6 = 30
5 X  7 = 35
5 X  8 = 40
5 X  9 = 45
5 X  10 = 50
5 X  11 = 55

In [ ]:
for i in range(12):
    print("5 X ",i+1 ,"=",5 * (i+1))

5 X  1 = 5
5 X  2 = 10
5 X  3 = 15
5 X  4 = 20
5 X  5 = 25
5 X  6 = 30
5 X  7 = 35
5 X  8 = 40
5 X  9 = 45
5 X  10 = 50
5 X  11 = 55
5 X  12 = 60

In [ ]:
# break means loop ko chhodkar nikal jao.
# continew means itretion ko chhodkar nikal jao.
for i in range(12):
    print("5 X ",i+1 ,"=",5 * (i+1))
    if(i == 10):
        break
print("Loop ko chodkar nikal gaya")

5 X  1 = 5
5 X  2 = 10
5 X  3 = 15
5 X  4 = 20
5 X  5 = 25
5 X  6 = 30
5 X  7 = 35
5 X  8 = 40
5 X  9 = 45
5 X  10 = 50
5 X  11 = 55
Loop ko chodkar nikal gaya

In [ ]:
for i in range(12):
    if(i == 10):
        break
    print("5 X ",i+1 ,"=",5 * (i+1))
print("Loop ko chodkar nikal gaya")

5 X  1 = 5
5 X  2 = 10
5 X  3 = 15
5 X  4 = 20
5 X  5 = 25
5 X  6 = 30
5 X  7 = 35
5 X  8 = 40
5 X  9 = 45
5 X  10 = 50
Loop ko chodkar nikal gaya

In [ ]:
for i in range(12):
    if(i == 10):
        print("skip the iteration")
        continue
    print("5 X ",i ,"=",5 * (i))

5 X  0 = 0
5 X  1 = 5
5 X  2 = 10
5 X  3 = 15
5 X  4 = 20
5 X  5 = 25
5 X  6 = 30
5 X  7 = 35
5 X  8 = 40
5 X  9 = 45
skip the iteration
5 X  11 = 55

In [ ]:
i=0
while True:
    print(i)
    i=i+1
    if i%10 ==0:
        break

0
1
2
3
4
5
6
7
8
9

In [ ]:
# for f in [2,3,4,5,6,7,8,0]:
#     if (1%2 != 0):
#         continue
#     print(f)

# Day : 20

In [1]:
a = 9
b = 8
gmean = (a*b)/(a+b)
print(gmean)

4.235294117647059

In [2]:
a = 8
b = 7
gmean = (a*b)/(a+b)
print(gmean)

3.7333333333333334

In [10]:
# gmean ke code ko ek function me dal diya. means identity type kuchh bana liya
def calculateGmean(a,b):
    mean = (a*b)/(a+b)
    print(mean)

a = 9
b = 8
calculateGmean(a,b)

4.235294117647059

In [9]:
c=8
d=7
calculateGmean(c,d)

3.7333333333333334

In [22]:
a=9
b=8
if a>b:
    print("First is greater")
else:
    print("second is greater or equal")

calculateGmean(a,b)

c=7
d=70
if c>d:
    print("First is greater")
else:
    print("second is greater or equal")

calculateGmean(c,d)

e=10
f=10
if e>f:
    print("First is greater")
else:
    print("second is greater or equal")

calculateGmean(e,f)

First is greater
4.235294117647059
second is greater or equal
6.363636363636363
second is greater or equal
5.0

In [27]:
def isGreater(a,b):
    if a>b:
        print("First is greater")
    else:
        print("second is greater or equal")


a = 9
b = 8
isGreater(a,b)
calculateGmean(a,b)

c=8
d=70
isGreater(c,d)
calculateGmean(c,d)

e=10
f=10
isGreater(e,f)
calculateGmean(e,f)

First is greater
4.235294117647059
second is greater or equal
7.17948717948718
second is greater or equal
5.0

In [31]:
# hmne socha ki isa bhi kuchh ho sakta, mai bad me aakar ise poora karuga to pass laga ke chhod do.
def isLesser(a,b):
    pass

In [ ]:
# 2 type of function.
# 1. build in function=def se define nahi karna padta
# 2. User defined function=def se define user khud banata hai

# Day: 22

In [14]:
l = [3,5,6,"harry", True]
print(l)
print(type(l))
print(l[0])
print(l[1])
print(l[2])
print(l[3])
print(l[4])
print(l[-3]) # negative index
print(l[len(l)-3]) # positive index
print(l[5-3])
print(l[2])

[3, 5, 6, 'harry', True]
<class 'list'>
3
5
6
harry
True
6
6
6
6

In [ ]:
# tuple change nahi hota & list is chanded

In [19]:
b=[5,6,8,0,7,9]
if 7 in b:
    print("yes")
else:
    print("No")

yes

In [25]:
b=[5,6,8,0,7,9,"harry"]
if "harry" in b:
    print("yes")
else:
    print("No")

yes

In [23]:

b=[5,6,8,0,7,9,"harry"]
if "6" in b:
    print("yes")
else:
    print("No")

No

In [29]:
if "maya" in "mayank":
    print("yes")
else:
    print("no")

yes

In [38]:
a=[6,7,8,9,0,4,2,1]
print(a)
print(a[:])
print(a[1:])
print(a[1:len()])
print(a[2:])
print(a[1:-1])
print(a[1:7])
print(a[1:7:2])
print(a[1:8:3])
p

[6, 7, 8, 9, 0, 4, 2, 1]
[6, 7, 8, 9, 0, 4, 2, 1]
[7, 8, 9, 0, 4, 2, 1]
[8, 9, 0, 4, 2, 1]
[7, 8, 9, 0, 4, 2]
[7, 8, 9, 0, 4, 2]
[7, 9, 4]
[7, 0, 1]

In [1]:
lst=[i for i in range(4)]
print(lst)

[0, 1, 2, 3]

In [2]:
lst=[i*i for i in range(4)]
print(lst)

[0, 1, 4, 9]

In [3]:
lst=[i*i for i in range(10) if i%2==0]
print(lst)

[0, 4, 16, 36, 64]

# Day: 23 (List Methods)

In [6]:
l=[1,2,3,4,6,9]
print(l)
l.append(7)
print(l)

[1, 2, 3, 4, 6, 9]
[1, 2, 3, 4, 6, 9, 7]

In [7]:
m=[8,7,6,5,4,2,7]
print(m)
m.sort()
print(m)

[8, 7, 6, 5, 4, 2, 7]
[2, 4, 5, 6, 7, 7, 8]

In [8]:
m=[8,7,6,5,4,2,7]
print(m)
m.sort(reverse=True)
print(m)

[8, 7, 6, 5, 4, 2, 7]
[8, 7, 7, 6, 5, 4, 2]

In [11]:
m.reverse()
print(m)

[2, 4, 5, 6, 7, 7, 8]

In [15]:
l=[9,56,76,34,3,1,67,1,90]
l.reverse()
print(l)

[90, 1, 67, 1, 3, 34, 76, 56, 9]

In [16]:

print(l.index(1))

1

In [17]:
print(l.count(1))

2

In [19]:
p=[1,1,1,1,1,1,1,1,1,1,2,2,2,2,2,2,2,2,2,2,2]
print(p.count(1))
print(p.count(2))

10
11

In [23]:
l=[11,45,1,2,4,6,1,1]
print(l)
m=l
m[0]=0
print(l)
print(m) # l bhi change

[11, 45, 1, 2, 4, 6, 1, 1]
[0, 45, 1, 2, 4, 6, 1, 1]
[0, 45, 1, 2, 4, 6, 1, 1]

In [24]:
l=[11,45,1,2,4,6,1,1]
print(l)
m=l.copy()
m[0]=0
print(l)
print(m)

[11, 45, 1, 2, 4, 6, 1, 1]
[11, 45, 1, 2, 4, 6, 1, 1]
[0, 45, 1, 2, 4, 6, 1, 1]

In [25]:
l.insert(1,899)
print(l)

[11, 899, 45, 1, 2, 4, 6, 1, 1]

In [28]:
m=[900,1000,1100]
l.extend(m)  # m ko kholo aur l ke and me dalo
print(l)    # l changee

[11, 899, 45, 1, 2, 4, 6, 1, 1, 900, 1000, 1100]

In [30]:
L=[44,55,66,77,88,99,33,44,5,58]
M=[1,2,3,4,5,6,7,8,9,0]
k=L+M
print(k)

[44, 55, 66, 77, 88, 99, 33, 44, 5, 58, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

 
 # Day:24 Tuple

In [1]:
tup=(1,5,6)
print(type(tup),tup)

<class 'tuple'> (1, 5, 6)

In [2]:
tup=(1,5)
print(type(tup),tup)

<class 'tuple'> (1, 5)

In [3]:
tup=(1)
print(type(tup),tup)

<class 'int'> 1

In [4]:
tup=(1,)
print(type(tup),tup)

<class 'tuple'> (1,)

In [5]:
tup=(1,5,6)
tup[0]=90  # tuple change nahi

TypeError: 'tuple' object does not support item assignment

In [7]:
tup=[1,5,6]
tup[0]=90
print(tup)

[90, 5, 6]

In [11]:
tup=(1,5,6,"green",3,4)
print(type(tup),tup)

<class 'tuple'> (1, 5, 6, 'green', 3, 4)

In [12]:
print(tup[0])
print(tup[1])
print(tup[2])
print(tup[3])

print(tup[34])

1
5
6
green

IndexError: tuple index out of range

In [16]:
print(tup[-1])
print(tup[len(tup)-1])

4
4

In [23]:
p=(1,2,3,4,5,6,7,8,22,33,44,55,66,77,88,99)
if 33 in p:
    print("Yes,33 is present in this list")
else:
    print("No")

Yes,33 is present in this list

In [25]:
#tuple ki slicing nahi hoti new tuple ban jata hai
tup2=(1,2,3,4,5,6,7,8,9)
tup3=tup2[1:4]
print(tup3)

(2, 3, 4)

# Day:25

tuple ko indirectly change kar sakte hai

In [1]:
countries=("Spain","Italy","India","England","Germany")
temp=list(countries)
temp.append("Russia")    #add item
temp.pop(3)              #remove item
temp[2]="Finland"        #change item
countries=tuple(temp)
print(countries)        #new tuple milega!!!!!

('Spain', 'Italy', 'Finland', 'Germany', 'Russia')

In [3]:
countries1 =("pakistan","afghanistan","bangladesh","shrilanka")
countries2 =("Vietnam","India", "china")
southeastasia = countries1+countries2
print(southeastasia)

('pakistan', 'afghanistan', 'bangladesh', 'shrilanka', 'Vietnam', 'India', 'china')

In [6]:
tuple1=(0,1,2,3,2,3,1,3,2)
res=tuple1.count(3)
print("count of 3 in tuple is:",res)

count of 3 in tuple is: 3

In [8]:
tuple1=(0,1,2,31,2,3,1,3,2)
res=tuple1.index(3)
print("index of 3 in tuple is:",res)

Count of 3 in tuple is: 5

In [10]:
tuple1=(0,1,2,31,2,3,1,3,2)
res=tuple1.index(3,4,8)       #(4,8)silysing tuple 3 ka index
print("index of 3 in tuple is:",res)

index of 3 in tuple is: 5

In [11]:
tuple1=(0,1,2,31,2,3,1,3,2)
res=tuple1.index(311)
print("Count of 3 in tuple is:",res)

ValueError: tuple.index(x): x not in tuple

In [14]:
tuple1=(0,1,2,31,2,3,1,3,2)
res=len(tuple1)
print(" length tuple is:",res)

 length tuple is: 9